{% extends "page_layout/layout_admin/layout_admin.html" %}
{% block title %}
Hóa đơn
{% endblock %}
{% block content %}

<nav>
    <a href="#" class="profile">
        <i class='bx bxs-user'></i>
    </a>
    {% if session_username %}
        <strong>{{ session_username }}</strong>
    {% endif %}
</nav>
<!-- NAVBAR -->
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Hóa đơn</h1>
            <ul class="breadcrumb">
                <li>
                    <a class="active" href="{%url 'main' %}">Home</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a href="#">Hóa đơn</a>
                </li>
            </ul>
        </div>
        <a href="{% url 'themhd' %}" class="btn-add">
            <i class='bx bx-plus'></i>
            <span class="text">Thêm</span>
        </a>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Danh sách hóa đơn</h3>
                    
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Số hóa đơn</th>
                        <th>Ngày tạo</th>
                    
                        <th>Khách hàng</th>
                        <th>Nhân viên lập</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Tổng tiền</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {%for hd in DS_HoaDon %}
                    <tr>
                        <td>{{hd.soHD}}</td>
                        <td>
                            {{hd.ngayTao|date:'d/m/Y'}}
                        </td>
                        
                        <td>{{hd.kh.hoTen}}</td>
                        <td>{{hd.nv.hoTen}}</td>
                        <td>{{hd.t_start}}</td>
                        <td>{{hd.t_end}}</td>
                        <td>{{hd.tongTien}}</td>
                        <td><span class="status process"><a href="{% url 'cthd' sohd=hd.soHD %}">Details</a></span></td>
                        
                        <td>
                            <a href="{%url 'suahd' sohd=hd.soHD %}" class="btn-edit">
                                <i class='bx bx-edit-alt'></i>
                                <span class="text">Sửa</span>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'xoahd' sohd=hd.soHD %}" class="btn-minus">
                                <span class="text">Xóa</span>
                            </a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->
<!-- CONTENT -->
{% endblock %}