{% extends "page_layout/layout_admin/layout_admin.html" %}
{% block title %}
Thêm nhân viên
{% endblock %}
{% block content %}
<style>
        


</style>
<nav>
    <a href="#" class="profile">
        <i class='bx bxs-user'></i>
    </a>
    {% if session_username %}
        <strong>{{ session_username }}</strong>
    {% endif %}
</nav>
<!-- NAVBAR -->
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thêm nhân viên</h1>
            <ul class="breadcrumb">
                <li>
                    <a class="active" href="{% url 'nv' %}">Nhân viên</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a href="#">Thêm nhân viên</a>
                </li>
                
            </ul>
        </div>

    </div>
    <div class="container mt-0">
        <form class="row g-3" method="post">
            {% csrf_token %}
            <div class="col-6">
                <label for="inputName" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="inputName" Name="hoTen">
            </div>
            <div class="col-md-4">
                <label for="inputGender" class="form-label">Giới tính</label>
                <select Name="gioiTinh" id="inputGender" class="form-select">
                    <option selected>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            
            <div class="col-8">
                <label for="inputPhone" class="form-label">SĐT</label>
                <input type="text" class="form-control" id="inputPhone" Name="SDT">
            </div>
            <div class="col-md-4">
                <label for="inputDate" class="form-label">Ngày sinh</label>
                <input type="date" class="form-control" id="inputDate" Name="ngaySinh">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Địa chỉ</label>
                <textarea class="form-control" Name="diaChi" id="inputAddress" rows="4" cols="50"></textarea>
            </div>    
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </div>
        </form>
    </div>

</main>
{%endblock%}
